.btn {
    background-color: rgba(0, 0, 0, 0);
    border: 2px rgb(255, 255, 255) solid;
    color: white;
    padding: 8px 20px;
    margin-left: 2%;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: rgb(0, 0, 0);
}